<h1>マイページ</h1>
<%= link_to("一覧", "/") %>

<div class="container">
<div class="row">
<div class="col-sm">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col" class="bg-warning">得意</th>
    </tr>
  </thead>
  <tbody>
    <% @strengths.each do |strength| %>
    <tr>
      <th scope="row"><%= strength.id %></th>
      <td><%= link_to(strength.title, "/posts/#{strength.id}") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="col-sm">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col" class="bg-light">不得意</th>
    </tr>
  </thead>
  <tbody>
    <% @weaknesses.each do |weakness| %>
    <tr>
      <th scope="row"><%= weakness.id %></th>
      <td><%= link_to(weakness.title, "/posts/#{weakness.id}") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="col-sm">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col" class="bg-white">普通</th>
    </tr>
  </thead>
  <tbody>
    <% @normals.each do |normal| %>
    <tr>
      <th scope="row"><%= normal.id %></th>
      <td><%= link_to(normal.title, "/posts/#{normal.id}") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>


