<h1>マイページ</h1>
<%= link_to("一覧", "/") %>

<div class="container">
<div class="row">
<div class="col-sm">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">得意</th>
    </tr>
  </thead>
  <tbody>
    <% @strengths.each do |strength| %>
    <tr>
      <th scope="row"><%= strength.id %></th>
      <td><%= strength.title %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="col-sm">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">不得意</th>
    </tr>
  </thead>
  <tbody>
    <% @weaknesses.each do |weakness| %>
    <tr>
      <th scope="row"><%= weakness.id %></th>
      <td><%= weakness.title %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="col-sm">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">普通</th>
    </tr>
  </thead>
  <tbody>
    <% @normals.each do |normal| %>
    <tr>
      <th scope="row"><%= normal.id %></th>
      <td><%= normal.title %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>


