<!DOCTYPE html>
<html>
  <head>
    <title>Kizitu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="btn btn-outline-warning"><%= link_to("ユーザー登録", new_user_path ) %></div>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
